@charset "UTF-8";

* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: linear-gradient(to right, #78B4F5, #395675, #5985B5);
}

main {
    background-color: white;
    border-radius: 3px;
    box-shadow: 5px 5px 10px #1A2736;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1{
    color: #1A2736;
    text-align: center;
}

h2{
    color: #395675;
}

p {
    text-align: justify;
}
